<% layout('../layout') -%>
<div class="panel panel-default">
	<div class="panel-heading">Panel heading</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#ID</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach(function(val, i) { %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= val.email %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</div>